.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  min-height: 100vh;
}

.main .container {
  min-width: 400px
}
